* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-size: 62.5%;

	--bgc-body: #000;
	--bgc-input: #06181c;
	--bgc-btn: #065e7c;

	--fc-secondary: #7c7c8a;
}

#app {
	max-width: 1120px;
	margin: 0 auto;
}

body {
	background-color: var(--bgc-body);

	font-size: 1.6rem;
	font-family: "Roboto", sans-serif;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 8.7rem 0 8.7rem;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

.search {
	display: flex;
	gap: 0.8rem;
}

.search input {
	width: 462px;
	height: 4.8rem;
	background-color: var(--bgc-input);

	border-radius: 0.5rem;
	border: none;

	color: #fff;
	font-size: 1.6rem;
	font-style: normal;
	font-weight: 400;
	line-height: 100%;
	padding: 1.6rem;
}

.search input::placeholder {
	color: var(--fc-secondary);

	font-size: 1.6rem;
	font-style: normal;
	line-height: 100%;
	font-weight: 400;
}

.search button {
	display: flex;
	gap: 0.8rem;
	align-items: center;

	border-radius: 0.5rem;
	border: none;
	padding: 1.2rem 3.2rem;

	background-color: var(--bgc-btn);
	text-transform: uppercase;
	font-size: 1.4rem;
	line-height: 2.4rem;
	font-weight: 700;
	color: #fff;

	cursor: pointer;

	transition: background-color 0.7s, color 0.7s;
}

.search button:hover {
	color: var(--bgc-btn);
	background-color: #fff;
}

.main {
	font-size: 2rem;
	font-weight: 700;
	font-style: normal;
	width: 100%;
	border-radius: 1.2rem;
	border: 1px solid #4a808c;
	overflow: hidden;
}

table {
	width: 100%;
	border-collapse: collapse;
}

table thead {
	background-color: #092d38;
	border-bottom: 1px solid #4a808c;
}

table th {
	font-size: 2rem;
	font-style: normal;
	text-align: left;
	font-weight: 700;
	padding: 1.5rem 4rem;
	color: #e1e1e6;
}

table tbody tr:nth-child(even) {
	background: #014d5f;
}

table tbody tr:nth-child(odd) {
	background: #06161b;
}

table td {
	padding: 1.5rem 4rem;
	text-align: left;
	color: #e1e1e6;
	font-weight: 400;

	border-bottom: 1px solid #4a808c;
}

td.user {
	display: flex;
	align-items: center;
	gap: 1.6rem;
}

td.user img {
	width: 5rem;
	height: 5rem;

	object-fit: cover;
	border-radius: 50%;
}

td.user a {
	text-decoration: none;
	color: #e1e1e6;
}

td.user a p {
	font-weight: bold;
}

td .remove {
	background: none;
	border: none;

	font-size: 2rem;
	font-weight: 700;
	font-style: normal;
	color: #f75a68;

	cursor: pointer;
}

.no-state {
	background: hsl(192, 63%, 3%);
}

.no-favs {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 6rem;

	margin: 21rem auto 28.7rem;
}

.no-favs h1 {
	font-family: "Roboto Mono";
	font-style: normal;
	font-weight: 700;
	font-size: 4rem;
	line-height: 2.5rem;
	color: #4e5455;
}

.hide {
	display: none;
}
