* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-size: 62.5%;

	--bgc-body: #000;
	--bgc-input: #06181c;
	--bgc-btn: #065e7c;

	--fc-primary: #e1e1e6;
	--fc-secondary: #7c7c8a;
	--fc-warning: #f75a68;
	--fc-warning-hover: #f63242;

	--bgc-table: #092d38;
	--bgc-table-odd: #06161b;
	--bgc-table-even: #06181c;

	--border-color: #4a808c;
	--bgc-no-state: #030b0d;

	--no-favs-color: #4e5455;
}

#app {
	max-width: 1120px;
	margin: 0 auto;
}

body {
	background-color: var(--bgc-body);

	font-size: 1.6rem;
	font-family: "Roboto", sans-serif;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 11.5rem 0 8.7rem;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

.search {
	display: flex;
	gap: 0.8rem;
}

.search input {
	width: 462px;
	height: 4.8rem;
	background-color: var(--bgc-input);

	border-radius: 0.5rem;
	border: none;

	color: #fff;
	font-size: 1.6rem;
	font-style: normal;
	font-weight: 400;
	line-height: 100%;
	padding: 1.6rem;
}

.search input::placeholder {
	color: var(--fc-secondary);

	font-size: 1.6rem;
	font-style: normal;
	line-height: 100%;
	font-weight: 400;
}

.search button {
	display: flex;
	gap: 0.8rem;
	align-items: center;

	border-radius: 0.5rem;
	border: none;
	padding: 1.2rem 3.2rem;

	background-color: var(--bgc-btn);
	text-transform: uppercase;
	font-size: 1.4rem;
	line-height: 2.4rem;
	font-weight: 700;
	color: #fff;

	cursor: pointer;

	transition: background-color 0.7s, color 0.7s;
}

.search button:hover {
	color: var(--bgc-btn);
	background-color: #fff;
}

.main {
	font-size: 2rem;
	font-weight: 700;
	font-style: normal;
	border-radius: 1.2rem;
	border: 1px solid var(--border-color);
	overflow: hidden;

	margin-bottom: 11.6rem;
}

table {
	width: 100%;
	line-height: 160%;
	border-collapse: collapse;

	color: var(--fc-primary);
	font-size: 2rem;
	text-align: left;
	font-weight: 700;
	font-style: normal;
}

table thead {
	background-color: var(--bgc-table);
}

table th {
	padding: 1.6rem 4rem;
}

table tbody tr:nth-child(even) {
	background: var(--bgc-table-even);
}

table tbody tr:nth-child(odd) {
	background: var(--bgc-table-odd);
}

table td {
	padding: 2.4rem 4rem;
}

table tbody > tr {
	border-bottom: 1px solid var(--border-color);
}

table tr:last-child {
	border-bottom: none;
}

td.user {
	display: flex;
	align-items: center;
	gap: 1.6rem;
}

td.user img {
	width: 5rem;
	height: 5rem;

	object-fit: cover;
	border-radius: 50%;
}

td.user a {
	text-decoration: none;
	color: var(--fc-primary);
}

td.user a span {
	font-weight: 400;
}

td .remove {
	background: none;
	border: none;

	font-size: 2rem;
	font-weight: 700;
	font-style: normal;
	color: var(--fc-warning);

	cursor: pointer;
}

td .remove:hover {
	color: var(--fc-warning-hover);
}

.no-state {
	background-color: hsl(192, 63%, 3%);
	display: flex;
}

.no-favs {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 6rem;

	margin: 21rem auto 28.7rem;
}

.no-favs h1 {
	font-family: "Roboto Mono";
	font-style: normal;
	font-weight: 700;
	font-size: 4rem;
	line-height: 2.5rem;
	color: var(--no-favs-color);
}

.hide {
	display: none;
}
